[2020-04-07 08:18] GreenRover opened #5 "Please provide documentation"
when i run:
ag -o foo --force-write spec.yaml java-spring

I get following error:
Error: 404 Not Found - GET https://registry.npmjs.org/java-spring - Not found

As work around i cloned this directory and changed the generator.js to:
[code]
This results in an empty template.
Can some one please provide a tutorial.

[2020-04-07 08:25] derberg commented on #5
Hi @GreenRover. The docs are outdated, but as you can see in the Readme, actually the whole template is outdated, it doesn't support AsyncAPI 2.0 version.

To start generation, instead of `ag -o foo --force-write spec.yaml java-spring` you should do `ag -o foo --force-write spec.yaml @asyncapi/java-spring-template`. More options are listed here https://github.com/asyncapi/generator/#usage.
Would b

[2020-04-08 13:52] Tenischev opened #6 "Add support of Kafka"
Current template is outdated (doesn't support api spec 2.0.0) and doesn't contain logic for Kafka generation.
It would be good to have a template for Kafka on Java based on AsyncAPI.
Also, perhaps supportedProtocols should be documented in configuration.

[2020-04-08 18:14] derberg commented on #6
Hey @Tenischev. Thanks a lot for this issue. This template definitely needs some love so it is actually usable with 2.0.

I agree that [configuratio](https://github.com/asyncapi/java-spring-template/blob/master/.tp-config.json) should be done properly. If you will focus on Kafka support only please make sure to describe in contribution guide or somewhere else what are the extension points in the t

[2020-04-10 21:27] Tenischev commented on #6
#7

[2020-04-15 21:31] Tenischev opened #8 "Support of opposite side application generation"
#### Reason/Context
As you know swagger allows to generate both server and client parts by one OpenAPI file. For sure, when we define "publish" and "subscribe" there is no clear "server" or "client". It is just about the application which could produce specified "subscribe" messages and consume specified "publish" messages.
Perhaps, generation of another side of communication makes sense. The appl

[2020-04-18 18:38] Tenischev opened #9 "Generalize Kafka properties"
#### Reason/Context
In the potential feature #7 properties for kafka connect defined as custom properties with predefined values in application.yml. They are hardcoded and it's not clear whenever they should be changed or not. (Ofc if you know Kafka, it's evident for you)
Consider two improvement:
1. Use spring-kafka library properties to configure consequent parameters.
2.a) Define those properti

[2020-04-18 19:57] Tenischev commented on #6
released in #7

[2020-04-18 19:57] #6 closed

[2020-04-18 20:18] Tenischev opened #11 "Missing features - add annotation to the model generation"
#### Reason/Context
OpenAPI generation by default generates model classes with annotations: [OpenAPI](https://github.com/swagger-api/swagger-core/wiki/Swagger-2.X---Annotations), [Jackson](https://github.com/FasterXML/jackson-annotations/wiki/Jackson-Annotations), [Java validation](https://beanvalidation.org/).
Perhaps at least Jackson and Java validation will be good to have in generated model.

[2020-04-20 12:38] Tenischev opened #13 "Wrong parser API usage for mqtt and amqp"
#### Describe the bug
Due to following errors in API usage generation falls down:
`.bindings('amqp')` instead of `.binding('amqp')`
`.bindings('mqtt')` instead of `.binding('mqtt')`
`variables(port)` instead of `variable('port')`

#### How to Reproduce
Run with
[code]

#### Expected behavior
Template generates without errors

[2020-04-24 14:48] #11 closed

[2020-04-25 18:26] Tenischev opened #17 "Add more descriptions as javadocs"
#### Reason/Context
Improve plainness of generated code by adding descriptions from elements as javadocs.

#### Description
Channel or operation description for publish/subscribe methods, server description for addresses in application.yml

[2020-04-25 21:14] derberg commented on #5
@GreenRover template got updated by @Tenischev to use AsyncAPI 2.0 and using this opportunity he improved README.md a lot so I will close this one and once you notice some more issues please reopen or better just create new issue

[2020-04-25 21:14] #5 closed

[2020-04-26 16:35] #13 closed

[2020-04-26 17:24] #9 closed

[2020-04-26 17:49] #17 closed

[2020-04-29 10:06] Tenischev opened #25 "Add generation of enums to the model"
#### Reason/Context
OpenAPI supports generation of java `enum` in case of `type: string` of property.
At least this level of support should be reached.
Perhaps, enum generation could be also implimented for `type: integer`

#### Description
Use inner `enum` class in model class file.
OpenAPI generation could be a good example.

[2020-05-06 14:37] MichaelDavisSolace commented on #8
I did this for the java-spring-cloud-stream template and the python template. I added a parameter called 'view' which can either be 'client', which conforms to the specification, or 'provider' which means that when you see 'subscribe' in the document you generate code that subscribes to topics. It would be nice if we were consistent. Maybe this could make it into the spec at some point.

BTW this

[2020-05-06 14:48] Tenischev commented on #8
@MichaelDavisSolace , as i described in description words as "client" or "server"(or "provider" in your case) couldn't be applied in case of AsyncAPI, from my point of view.

Also, i do not see a lot of sense to make this parameter `string`, which values you suppose except 'client' or 'provider'?

[2020-05-06 19:51] damaru-inc commented on #8
Well, the terms 'view', 'client' and 'provider' were chosen by one of our senior architects at Solace, after many long discussions.  There has been a lot of debate about this issue between the AsyncAPI folk and us at Solace, and we have tried to hone our language to be as clear as possible. I don't think it would be easy for me to convince our team that we should change it.

As far as whether it's

[2020-05-11 21:28] Tenischev opened #31 "Add generation of tests for Kafka protocol"
#### Reason/Context
Add generation of tests for Kafka.
This will be a small step to close a gap with missed quality assurance.

#### Description
Known two general approaches:
- [TestContainers](https://www.testcontainers.org/modules/kafka/)
- [spring-kafka-test](https://docs.spring.io/spring-kafka/docs/2.3.0.RELEASE/reference/html/#testing)

[2020-05-12 23:08] Tenischev opened #33 "Improve generation of docker-compose with brokers"
#### Reason/Context
Currently template contains hardcoded docker-compose with rabbitmq.
It is not very convenient e.g. when you have `kafka` protocol.
Having a docker-compose with relevant protocol implementer could simply run of generated template.

#### Description
Add check for protocol in docker-compose.
Add relevant brokers for `mqtt` and `kafka` protocols

[2020-05-13 06:17] #31 closed

[2020-05-21 12:24] derberg commented on #8
looks like you guys have 2 fundamentally different solutions for common concern about the spec and I think it makes a lot sense to explore both to see which one plays better. For having support for `view` in the spec I recommend creating a feature request in asyncapi repo

[2020-05-21 12:27] #25 closed

[2020-05-22 10:30] Tenischev opened #41 "Provide an option to enable validation"
#### Reason/Context
Currently only validation annotations are provided in generated model.
But validation itself is not enabled.
Provide an option to enable validation.

#### Description
Configuration class must be updated to set up validator.

[2020-05-22 11:40] Tenischev opened #44 "Support of TLS for Kafka"
#### Reason/Context
Currently TLS are totally ignored in the template.
Clients of Kafka communicate directly to the brokers and so, to support secure communication clients must configure it.

#### Description
Add parameter to enable security configuration into generated result.
Set of spring properties:
[code]

[2020-05-22 11:55] Tenischev opened #45 "Allow user to specify java package name"
#### Reason/Context
Currently `com.asyncapi` is used as java package which is not allow to user use generated classes `as is`.
Add parameter of template to specify java package name.

#### Description
Consider solution from https://github.com/asyncapi/java-spring-cloud-stream-template
Or just add `after` hook to change directories

[2020-05-22 11:57] Tenischev opened #46 "Add toString to model generation"
#### Reason/Context
`tiString` is helpful when user want to log received message.

#### Description
Override `toString` in model classes, approach from OpenAPI generation could be used as an example

[2020-05-22 21:20] Tenischev opened #47 "Add parameter to enable equals/hashCode generation in model"
#### Reason/Context
OpenAPI by default generates equals and hashCode override for model classes.
Support the same function and add parameter to disable it.

#### Description
Use OpenAPI generation as an example.
Add param of template to disable

[2020-05-25 08:27] #8 closed

[2020-05-25 08:27] #46 closed

[2020-05-25 08:52] #45 closed

[2020-05-25 08:56] #47 closed

[2020-05-29 06:31] bob-sheknowdas opened #56 "Support for Pulsar"
#### Reason/Context
It would be nice to have support for [Apache Pulsar](https://pulsar.apache.org/) (Kafka successor).

#### Description
One could build uppon [pulsar-java-spring-boot-starter](https://github.com/majusko/pulsar-java-spring-boot-starter) for the templates.
I don't know your policies on external libraries, though...

api.yml would probably look like this:
[code]

[2020-06-03 16:22] JohnRCatlin opened #57 "gradle build fails for java-spring-template generated code."
#### Describe the bug
The generated code fails to build.
#### How to Reproduce

The code generated by ..
`ag streetlights.yaml @asyncapi/java-spring-template -o generated/java-spring --force-write`

fails to build using ...

`gradle build`

with the following errors ...

[code]
#### Expected behavior
It should build without errors?

[2020-06-04 11:54] JohnRCatlin commented on #57
Similar outcome for this ...

ag https://raw.githubusercontent.com/asyncapi/generator/master/test/docs/dummy.yml @asyncapi/java-spring-template -o generated/java-spring --force-write

[2020-06-04 16:03] fmvilas commented on #57
@Tenischev would you mind having a look?

[2020-06-05 12:56] derberg commented on #56
We don't have any strict policies here. Did you think about contributing it? as for sure we will have to discuss more the area of handling server information inside the template

[2020-06-08 07:17] Tenischev commented on #56
If you could provide a sample of AsyncAPI that you plan to use with Pulsar, this will also help to understand what current template lack (except of such protocol).

[2020-06-08 07:24] Tenischev commented on #57
@JohnRCatlin please provide used `streetlights.yaml` file.
Also, please take into account `amqp` support is not very stable.
Support of several servers with different protocols like in `dummy.yml` is not supported very well yet.
Last days i worked on stable support of `mqtt` #58
Based on some hints from mentioned errors fast fix for Kafka #59

[2020-06-08 07:33] Tenischev opened #60 "Update MQTT generation"
#### Reason/Context
Currently generated java code for MQTT protocol in most cases is not compilable.
Current version of implementation was inherited from this template for 1.0 version of spec.
Normal complex channel path of MQTT like `a/b/+/c` leads to generation of not correct code.

#### Description
Description of the protocol https://mosquitto.org/man/mqtt-7.html
Description of spring mqtt inte

[2020-06-09 08:52] bob-sheknowdas commented on #56
I can help by contributing.
Only so far I wasn't to sure myself, what I wanted the result of the code generation to look like...

This is mainly due to me not being that much of an expert when it comes to spring (its currently the first time for me actively developing with spring boot)

Well, best case szenario for me would be if this:
[code]

Could result in something like this:
[code]
[code]
[co

[2020-06-09 19:10] Tenischev opened #61 "Improve integration of code generation into CI process"
#### Reason/Context
Continuous integration (CI) and continuous delivery (CD) is a set of operating principles that enable application development teams to deliver code changes more frequently and reliably.
The technical goal of CI is to establish a consistent and automated way to build, package, and test applications.
If project\company takes also the "API-first" approach that also means that gene

[2020-06-09 19:27] Tenischev commented on #56
Yes, just without usage of Lombok

And I dont really understand why.
Doesn't this make it way harder to reuse the generated code in form of a library?

You are totally right, please have a look here #61 . Perhaps you have something to add.

Regarding contribution, if you had time for it it will be great.

[2020-06-16 19:37] Tenischev commented on #57
Thank you @JohnRCatlin another part of fix in #62

Please pay attention that in #58 `operationId` was declared as MUST for each operation, otherwise it's difficult to give a method/variable name based on channel name.

[2020-06-17 20:16] nicolas-soyeur opened #65 "No source code generated when generation ran with a packageName starting with "com.""
Nothing is generated under src/main/java when I run the code generation with javaPackage starting with "com"

**for example this generate nothing :**
ag -o testGeneration2 -p javaPackage=com.test ./src/main/resources/transaction-asyncapi.yaml @asyncapi/java-spring-template --force-write

**but these 2 run are working :**
ag -o testGeneration2 -p javaPackage=com2.test ./src/main/resources/transacti

[2020-06-17 20:17] nicolas-soyeur commented on #65
Maybe it is caused by this piece of code (in hooks/05_packageProcessor.js) :

fs.removeSync(sourcePath + 'com');
fs.removeSync(testPath + 'com');

[2020-06-17 20:19] nicolas-soyeur commented on #65
should be more efficient to do this instead ?

fs.removeSync(sourcePath + 'com/asyncapi');
fs.removeSync(testPath + 'com/asyncapi');

[2020-06-18 08:27] Tenischev commented on #65
hey @nicolas-soyeur , thanks for the issue
Unfortunately, it's a bit more complicated. If we do
[code]
Then if it run as `-p javaPackage=org.test` the `com` package will stay at `src`

[2020-06-18 10:59] Tenischev commented on #65
Hey @nicolas-soyeur , please have a look on #66

[2020-06-18 11:48] #65 closed

[2020-06-18 12:52] nicolas-soyeur commented on #65
Hello @Tenischev , great thanks for this hot fix :). Great job

[2020-06-18 19:02] nicolas-soyeur opened #70 "Cannot read property 'startsWith' of undefined : generation example of oneOf"
#### Describe the bug
An error occur during the generation of an example of "oneOf". Details of the error si below.
I dont know if this asyncapi example can be used like this or not.

[code]

#### How to Reproduce
I tried to run the generation with the example below and I got the error.
https://github.com/asyncapi/asyncapi/blob/master/examples/2.0.0/oneof.yml

[2020-06-18 19:21] nicolas-soyeur opened #71 "Generation of the java model is not correct with an example of "anyOf""
#### Describe the bug
The model java class generated doesn't seem to be correct when I try to generate an example with some "anyOf" schema element. For example the "payload" variable is declared with AnonymousSchema1 class which doesn't exist.

This is the content of the TestMessages.java :

[code]

#### How to Reproduce
You can use this yaml example to run the generation : https://github.com/asyn

[2020-06-23 08:19] #60 closed

[2020-06-23 08:27] Tenischev commented on #57
Hey @JohnRCatlin , all PR closed, please check again.
Also, from my previous comment:

[2020-06-23 17:35] JohnRCatlin commented on #57
Hi @Tenischev

Sorry to be slow responding.
Thanks for looking at this I really appreciate it 👍

I've just discovered the [spectral linter](https://github.com/stoplightio/spectral), which I'll now include in my 'pre-generate' procedure.

[2020-06-23 17:44] JohnRCatlin commented on #57
P.S ... I'm wondering if the [parser](https://github.com/asyncapi/parser-js) and/or [generator](https://github.com/asyncapi/generator) could be evolved to pick up these sorts of issues in the future? (perhaps by utilising spectral?)

What are you thoughts? Could this idea work?

[2020-06-29 15:23] fmvilas commented on #57
Hey @JohnRCatlin! It would be a great idea to make both work together but keep in mind that the error you faced here has nothing to do with AsyncAPI itself but with the template. This template makes the existence of `operationId` mandatory. If you envision another way of making this work together, feel free to open an issue at [github.com/asyncapi/parser-js](). We would be happy to hear how to mak

[2020-06-29 15:29] fmvilas commented on #57
@Tenischev remember you can make your template fail when it doesn't find the `operationId` field. This way you can send a more meaningful message to the user explaining that this field is required, and it will fail during the generation process.

[2020-07-23 14:11] niketica opened #75 "Generating code from streetlights sample results in error"
**Description:**
I am new to asyncapi and I tried to play around with generating code from a yaml spec.
After trying to get started with generating code using the java-spring-template I came across an obstacle.
Using the streetlights sample (and other samples) generating code results in the error below:

[code]

**Steps to reproduce the issue:**
- Using OS: CentOS 7
- Using asyncapi generator (1.0

[2020-07-24 11:43] aanno commented on #75
Same problem here with the following example spec:

[code]

leads to

[code]

I tracked this down to `generator.js` function `renderString` for `@asyncapi/java-spring-template/template/src/test/java/com/asyncapi/SimpleKafkaTest.java`. Offending template line is within

[code]

A fix like https://github.com/asyncapi/java-spring-cloud-stream-template/pull/49 is needed...

[2020-07-27 12:11] pieterdb commented on #75
Trying out AsyncApi for the first time. version 2.0, with the java-spring-template and the associated Streetlights mqtt example at https://github.com/asyncapi/java-spring-template

The command ag throws error on code generation.

stacktrace follows:

----------------------

Something went wrong:
Template render error: (C:\Users\pieterdb\AppData\Roaming\npm\node_modules\@asyncapi\generator\node_mod

[2020-07-28 18:52] derberg commented on #75
It looks like there is an issue with the latest release candidates, if you would switch to generator `rc-4` all should work fine. Super temporary solution.

@aanno `mercurial` protocol is not supported in this template atm -> https://github.com/asyncapi/java-spring-template/blob/master/package.json#L67. I also left a comment under your PR

[2020-07-29 09:09] derberg commented on #75
I just found a core of the problem, we introduced a bug here -> https://github.com/asyncapi/parser-js/pull/106/files#diff-b108a8f0ce5b69a1b0fb07f666657d3fR33 and now `message()` requires `index` parameter as mandatory, thus all those issues. Will work on a PR to fix it and then once new Parser is released, will bump Generator to next release candidate.

🤞

[2020-07-29 11:55] derberg commented on #75
PR is ready https://github.com/asyncapi/parser-js/pull/132

[2020-07-30 05:21] #75 closed

[2020-07-30 05:54] derberg commented on #75
@niketica @aanno @pieterdb generator with fix for this problem is out -> https://github.com/asyncapi/generator/releases/tag/v1.0.0-rc.7 give it a try. It for sure fixed the problem described in this issue. Other issues should go to new issues.

@niketica

This is not so easy as in the REST APIs world I'm afraid. Event-driven architectures are a complex beast with many brokers, protocols and I bet

[2020-08-03 18:33] alberto1980 opened #77 "Doubts about code generated for streetlights.yaml"
I have some doubts about code generated with streetlights.yaml. There are some classes that I misunderstand

LightMeasured is a class that never is used in the generated code

On the other hand, handleReceiveLightMeasurement method at MessageHandlerService has this contract  public void handleReceiveLightMeasurement(**Message<?> message)**

shouldnt it be public void handleReceiveLightMeasurement(

[2020-08-09 09:56] alberto1980 opened #78 "Payload don't generated with avro schema"
Hi,

When I try to generate code with asyncapi specification with avro schema , payload class is not being generated.

I got classes references with names like AnonymousSchema5. Further, this class is not being generated

I have used 1.0.0-rc.7 generator version.

Attach the asyncapi specification used
[asyncapi_kafka_avro.zip](https://github.com/asyncapi/java-spring-template/files/5047081/asyncap

[2020-08-10 05:27] derberg commented on #78
@jonaslagoni what approach are you taking with the anonymous schemas in code generation? generating that as others, using anonymous schema id?

@alberto1980 try using here and in the other template a slightly different version of your file. Move payload schemas to `components.schemas` and in payload add `$ref` pointing to those schemas

[2020-08-10 05:33] jonaslagoni commented on #78
@derberg  I use QuickType to handle the generation of schemas. Then there are some special cases that has to be managed i.e. root schema which had a `null` type.

[2020-08-11 00:21] #33 closed

[2020-08-13 10:05] alberto1980 commented on #78
@jonaslagoni how could I use the template to generate code with avro schema?

If move playload schemas to components.schemas I got errors like these:

**{
        "title": "/components/schemas/lightMeasuredPayload/type should be equal to one of the allowed values",
        "location": {
            "jsonPointer": "/components/schemas/lightMeasuredPayload/type",
            "startLine": 46,

[2020-08-13 14:57] jonaslagoni commented on #78
I am not sure the template currently supports the anonymous messages which it receives when being converted to a JSON draft 7 schema in the parser. This is because the template uses the `uid` of the schema and if none are sat, i.e. not being done by the avro parser, it receives this `anonymous` message id by the parser. So that behavior is correct. However it seems like the template does not gener

[2020-08-13 17:34] alberto1980 commented on #78
Hi @jonaslagoni

Add the document:

asyncapi: '2.0.0'
info:
  title: Streetlights API
  version: '1.0.0'
  description: |
    The Smartylighting Streetlights API allows you
    to remotely manage the city lights.
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

servers:
  production:
    url: kafka.bootstrap:{port}
    protocol: kafka
    variables:
      por

[2020-08-13 18:24] jonaslagoni commented on #78
@alberto1980 no idea, @Tenischev maybe you can help out here :smile:

[2020-08-14 09:23] derberg commented on #78
@alberto1980 please format this asyncapi file example with ``` (markdown syntax for code samples) so it has all the indentations needed for simple copy/paste.

[2020-08-14 11:30] alberto1980 commented on #78
Sorry, this is the formatted file

`asyncapi: '2.0.0'
info:
  title: Streetlights API
  version: '1.0.0'
  description: |
    The Smartylighting Streetlights API allows you
    to remotely manage the city lights.
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

servers:
  production:
    url: kafka.bootstrap:{port}
    protocol: kafka
    variables:
      por

[2020-08-14 11:31] alberto1980 commented on #78
Sorry, this is the formatted file

[code]

[2020-08-21 00:23] #44 closed

[2020-08-21 00:23] #41 closed

[2020-09-04 17:57] gerardbosch opened #79 "Generated project does not compile"
Hi! First of all thanks for working on developing a tooling around AsyncAPI 😃

The following report is **almost** identical of the one I've just opened here: https://github.com/asyncapi/java-spring-cloud-stream-template/issues/58

#### Describe the bug

When using the example reference AsyncAPI definition (https://bit.ly/asyncapi) which is using camelCase for schemas, the generated project is not

[2020-09-04 18:00] fmvilas commented on #79
You got me crazy here. I was looking at this issue and thought it was the other one, so was wondering where the heck is my comment 😄

Similarly, I think this should be fixed on the template. Would you mind opening PRs?

[2020-09-04 18:03] gerardbosch commented on #79
I'm not very sure if I will have time to inspect this in detail as to open a PR. For now I'm just testing the tooling and I faced this. Even I need to understand better the tech stack behind them. But in case I can have more spare time to invest or research in it I would like to do it. But honestly I don't think in this moment :-S

[2020-09-04 18:43] fmvilas commented on #79
No problem, Gerard. Let us know if you start working on it. Just so we don't overlap. Thanks!

[2020-09-07 09:36] whatthefrog opened #80 "Error: Cannot find module 'graceful-fs' (GitBash / Win10)"
#### Describe the bug

Following your README.md steps to use the `java-spring-template`, I got the below error :-(

[code]

Using GitBash on Windows 10

#### How to Reproduce

[code]
Steps to reproduce the issue. Attach all resources that can help us understand the issue:

#### Expected behavior

I had to `npm install -g graceful-fs` to solve this

Did you forget to define this dependency ?

[2020-09-07 11:32] derberg commented on #80
@whatthefrog hey, it is not a problem with this template but the generator. There is an issue about it here https://github.com/asyncapi/generator/issues/391

the problem is that it is not possible to reproduce on Mac and we are not yet sure how to fix it

[2020-09-08 00:26] #61 closed

[2020-09-22 12:44] derberg opened #82 "Cleanup GitHub Actions workflows"
**Context**

1. We want to make sure we have healthy community and people respec each other in GitHub. We want to monitor all comments in every repository and analyze sentiments to identify negative ones and get proper notification. Idea is to use GitHub Actions for it, to check sentiments with Google Natural Language API and post negative comments to Slack for review.

2. We manage community file

[2020-09-28 00:29] #57 closed

[2020-10-02 14:20] Tenischev commented on #79
Hi @gerardbosch
Could you please check one more time?
I run generation:
`docker run --rm -it -v $pwd/output:/app/output asyncapi/generator -o ./output https://bit.ly/asyncapi @asyncapi/java-spring-template --force-write`
and all files starts with capital leter:
![image](https://user-images.githubusercontent.com/4137916/94933824-989d7a80-04d3-11eb-9792-6f6525ba5051.png)

[2020-10-02 15:12] Tenischev commented on #78
Hi all,
Ok, just simple test to have a look what template receives:
[code]
out:
[code]
I do not know what we could expect from this.

[2020-10-02 16:27] gerardbosch commented on #79
Hi @Tenischev, I've just tried again and it works now! I'm not very sure what happened when I first tried or which template version was running.
I think you can close the issue :)

[2020-10-03 05:24] panosgit opened #83 "array with ref and Enumeration with dash Generation failed"
Hello,
I am trying to generate a client from a yaml and i am getting the error below

[code]
After removing the
`$ref: '#/components/schemas/iAmAnArrayWithRefThatWillNotLetYouGenerate'`
and setting inline the object the generation was successfull.

Another issue is that after the generation if I have an enumeration with Dash '-' then it is not replaced with an underscore

Could you please investig

[2020-10-05 21:29] Tenischev commented on #83
Hi @panosgit
I'm not sure which JSON result you would like to have by combining `type: array` and `$ref`:
[code]
Did you miss `items:` before `$ref`?

Regarding wrong enum generation, i'll take it with me.

[2020-10-05 21:56] panosgit commented on #83
I was expecting for the generator to generate the correct List<ReferencedObject> inside the Main object and the ReferencedObject as a Class
Is the format of my yaml wrong ?

[2020-10-08 06:51] #83 closed

[2020-10-09 09:23] #70 closed

[2020-10-09 09:23] #71 closed

[2020-10-09 09:28] derberg commented on #78
on a parser, we also support `$id` (https://github.com/asyncapi/parser-js/blob/master/lib/models/schema.js#L24) but I guess it is of no use in case we get avro that needs to be converted into json schema.

[2020-10-12 14:18] #79 closed

[2020-10-12 16:11] Tenischev commented on #77
Hi @alberto1980

Regarding `Message<?> message` it's just a good practice to show that class is parametrizable with Generic.

Regarding the generation itself. Message classes are not used at the moment, it is for the future when template will support headers and message traits.

Also please check updated version of streetlights from the site. Soon PR will make template compatible with it.

[2020-10-13 09:21] #77 closed

[2020-10-13 21:46] Tenischev commented on #78
Hi @alberto1980,
After latest fix template AnonymousMessage classes are named correctly...
Regarding this reference to Avro schema, I tried to run it with local copy of your `external_avro_schema.json` and got the same result.
By the looking on `external_avro_schema.json` I see mostly only the `payloadExample` without any real definition of properties for message and so on. I'm not familiar with A

[2020-10-14 07:27] derberg commented on #78
Yeap, I also think it is not a valid Avro schema. Valid example is https://github.com/asyncapi/avro-schema-parser/blob/master/tests/schemas/Person-1.9.0.avsc

[2020-10-19 12:19] Tenischev opened #90 "Add support of allOf"
#### Reason/Context
Add support of `allOf` keyword for model generation.

#### Description
Aggregation pattern is mostly suitable to present `allOf` relation in Java

[2020-10-20 07:14] #82 closed

[2020-10-22 14:14] Tenischev opened #93 "Add support of channel parameters"
#### Reason/Context
Parameters in channel are widely used in `mqtt` or `amqp` protocols.

#### Description
Move channel names configuration to application properties.
Introduce parameter as an additional properties.
Result should be in re-usage of parameters like here https://docs.spring.io/spring-boot/docs/1.5.6.RELEASE/reference/html/boot-features-external-config.html#boot-features-external-conf

[2020-10-22 18:19] Tenischev opened #94 "Replace native array with List to generate arrays"
#### Reason/Context
Currently template generates native arrays `[]` for the `type: array`. That's a bit old fashioned approach and could be replaced with `List`.
OpenAPI generators are using `List` to handle `type: array`.

#### Description
Update `$$objectSchema$$.java` file. Replace `[]` with `List`.

[2020-10-22 18:39] Tenischev opened #95 "Fix date-time generation"
#### Describe the bug
In Json schema `date-time` and `time` has a time zone https://json-schema.org/understanding-json-schema/reference/string.html#dates-and-times
In the used generated type `LocalDateTime` the time zone is not supported.

#### How to Reproduce
use schema object:
[code]

#### Expected behavior
OffsetDateTime is used for `date-time` and OffsetTime is used for `time`

[2020-10-24 18:17] #90 closed

[2020-10-24 18:30] #95 closed

[2020-10-24 19:42] Tenischev opened #99 "Validation check against ReadMe MUST requirements"
#### Reason/Context
For the correct generation template require from AsynAPI to MUST have some parameters which is optional from spec point of view.
Currently the not-compilable code will be the result if user will ignore requirements from ReadMe.
See also #57

#### Description
Add hook `generator:before` to check for specific parameters in AsyncAPI file.
Produce error message for the user with de

[2020-10-25 12:26] fmvilas commented on #99
Hey @Tenischev. What about creating a filter called `throwIfUndefined` that will throw an error if something is undefined?

You could use it in your template [here](https://github.com/asyncapi/java-spring-template/blob/master/template/src/main/java/com/asyncapi/service/MessageHandlerService.java#L41) like:

[code]

It could even take a message:

[code]

[2020-10-25 12:37] Tenischev commented on #99
@fmvilas Could be a solution, but by that you will introduce validation as part of main template code.
There are some drawbacks:
- more effort to keep messages unified
- keep all validation rules in mind during creation of new code

Usage of one dedicated hook is like having central error handler.

[2020-10-25 12:49] fmvilas commented on #99
We can add a filter called `requireOperationId` at https://github.com/asyncapi/generator-filters. So the message is unified and the filter is available for every template.

You gotta keep them in mind anyway if you want to add them in a hook.

 ---

Another drawbacks of the hook solution:

1. We'll have to walk the whole document tree just to find some details. Performance on large documents will

[2020-10-25 16:07] Tenischev commented on #99
If this case is relevant for several templates. Regarding this i suggested in Slack to add new parameter in `configuration` like `obligatoryFields`.

Not think so, if I miss it like a filter in a new code, I do not have any problem with generation. If I forget about hook validation, i receive error during test and find out about hook very easily because it one place for validation not smeared with

[2020-11-04 09:13] #94 closed

[2020-11-09 10:32] derberg commented on #99
I think such functionality would make sense only as a core feature, as part of the configuration. It could be based on the same mechanism as `conditionalFiles`, using `JMESPath`. So you would just point what is required and then we throw proper unified error across templates.

regarding fallbacking `operationId`, sure you can fallback anything, but it should also be clear what is the recommended v

[2020-12-11 21:26] asyncapi-bot opened #105 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-12-11 21:46] derberg commented on #105
looks like a random issue

[2020-12-11 21:46] #105 closed

[2020-12-12 14:45] asyncapi-bot opened #107 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-12-14 08:04] derberg commented on #107
another random that happened over the weekend 🐼

[2020-12-14 08:04] #107 closed

[2020-12-22 07:16] CoolSpy3 opened #108 "Project build fails with Template Render Error"
#### Describe the bug
Building [this project](https://github.com/bb-frc-workshops/wpilib-ws-schema) produces the following error:
[code]
unless `java-spring-template` is downgraded to version 0.20.1.
#### How to Reproduce
1. Install AsyncAPI
2. Clone [this project](https://github.com/bb-frc-workshops/wpilib-ws-schema)
3. Run `npm install -g graceful-fs` to bypass issue #80
4. Run `ag -o <dir> wpil

[2020-12-23 06:20] derberg commented on #108
@CoolSpy3 I found the bug. I tested and your schema passes successfully with my change but I'm not able to say if the result is correct or not. Please check on your side, when you run `ag` just pass this as the template `https://github.com/derberg/java-spring-template/#fix-obj`

[2020-12-23 07:35] CoolSpy3 commented on #108
I can confirm that running that branch fixes the error. Thank you for your help :)

[2020-12-23 08:08] derberg commented on #108
@CoolSpy3 awesome, I'll just grab a reviewer and we'll release it today

[2020-12-23 08:14] #108 closed

[2020-12-23 13:33] asyncapi-bot opened #111 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2021-01-13 10:25] derberg commented on #80
looks like it is solved with https://github.com/asyncapi/java-spring-template/issues/108
Please reopen if I'm wrong

[2021-01-13 10:25] #80 closed

[2021-02-13 00:26] #78 closed

[2021-02-21 00:28] #93 closed

[2021-02-22 09:17] derberg commented on #93
I think we just reopen whenever someone finds it and comments or maybe one of us finds time in the future to work on it

[2021-02-22 09:24] #111 closed

[2021-03-17 12:38] chernushinandrew opened #122 "invalid render regexp value for `javax.validation.constraints.@Pattern` annotation of models"
#### How to Reproduce
example.yaml
[code]
result model
[code]
#### Expected behavior

https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html

[2021-04-10 00:48] #56 closed

[2021-05-14 00:46] #99 closed

[2021-05-14 05:36] patrickp-at-work opened #131 "allOf produces AnonymousSchemaX"
#### Describe the bug
I have just started to look into code generation for AsyncAPI. I can see from  #90 that `allOf` was realized using aggregation, but it seems to me that `java-spring-template` creates classes named `AnonymousSchema<X>` for usages of `allOf` where the involved schema should better be given a name.

#### How to Reproduce
The following example is [derived from the official spec](

[2021-05-14 07:35] derberg commented on #131
@patrickp-at-work hey, please try adding the `$id` to schemas, to get the names of schemas that you want

[2021-05-14 12:05] patrickp-at-work commented on #131
Thanks @derberg for your advice. I had never come across the `$id` syntax so far (probably because [openapi 3.0 doesn't support it](https://swagger.io/docs/specification/data-models/keywords/)). I've tried `$id` and found that I _can_ change the name of `Pet` ...
[code]

... but adding it to an inline schema didn't work, despite trying for quite a while: Either still yielded "anonymous" or classes

[2021-05-18 10:38] derberg commented on #131
Tbh I prefer the 2nd example from your issue description, kind looks cleaner to me. To get what you want using `$id` you would have to do something like:
[code]

Nevertheless, the code is not going to be what you expect, `petType` property will not be available in Cat and Dog classes.

I think this default behaviour is correct. As I understand you expect that in case of `discriminator` usage, it s

[2021-05-18 15:44] patrickp-at-work commented on #131
First of all, thanks for the usage example. Secondly, thanks for the hint regarding the meaning of `publish` vs. `subscribe` in the linked issue.

Correct, that's what I would have expected; instead, it generates `AllOfPetCat`.
However, it solves the original "main" problem of this issue because there is no `AnonymousSchema<X>` any more.

In fact, I rather think that the specification is unclear a

[2021-05-25 06:45] derberg commented on #131
I think the best would be if you could open a separate issue related to discriminator in the AsyncAPI repo https://github.com/asyncapi/spec/issues

I have to admit I do not know much about this subject and better if it is reported in the repo where the spec is so a wider audience can join the discussion and drive some updates in the spec. Best is always if reporter can open a PR but first a discus

[2021-05-27 09:04] patrickp-at-work commented on #131
Sure – I've done as proposed by you.

[2021-05-27 09:04] #131 closed

[2021-06-03 16:29] ArturSydor opened #133 "Impossible to generate fields of wrapper type like java.lang.Integer, java.lang.Long in model classes"
### How to Reproduce
example.yaml
[code]
**Result model**
[code]
Property lumens is not mandatory, that's why **there should be possibility to use for it type "java.lang.Integer"** in order to be able to assign null when it doesn't present.

### Expected behavior
Possibility to generate code that use wrapper types like java.lang.Integer, java.lang.Long, java.lang.Double, etc.

[2021-06-10 14:24] amrutprabhu opened #137 "Kafka Config: Type info mapping are not avaible in the header"
I was creating a simple Kafka producer code and consumer code using the following API definition
[code]

When I was posting a message to Kafka using the producer code and then consuming it from the consumer code, I was getting the following error :

[code]
I searched around this problem and I figured out there is something wrong with the config created for the producer.

I see that at this locatio

[2021-06-10 15:06] amrutprabhu commented on #137
I can create a merge request for this fix for the `ADD_TYPE_INFO_HEADERS`

[2021-06-14 11:15] garethahealy opened #139 "Ability to only generate model classes"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?
Currently, the generator only works for greenfield projects. If I already have a project and adding in a new AsyncAPI, I need to do this in another directory and manually copy files over.

- How will this change help?
Can make the generation of the model part of mvn and follow standard `target/generated

[2021-06-14 12:53] derberg commented on #139
Hey @garethahealy. That is a completely valid use case. We do not have a single recommended approach here atm.
There are different options:
- long term create a separate "template" project with models only
- we could add some flag here that would support what you need, like `-p modelsOnly=true`

The preferred future approach is to base model generation on our new project https://github.com/asyncap

[2021-06-14 13:09] garethahealy commented on #139
@derberg ; i've already gone down the custom template route: https://github.com/garethahealy/java-spring-template

re: `02_removeNotRelevantParts.js` - I've also tried this way, but I need to hook into the `before` phase and change the `template` dir, i.e.: remove the gradle files.

I couldn't see how to do that via: https://github.com/asyncapi/generator/blob/c369b8542ab6791546e864664ce0eba14ed794

[2021-06-14 13:49] derberg commented on #139
if you want to hook in before then just name your hook `'generate:before'` instead of `'generate:after'`. For more [read this](https://github.com/asyncapi/generator/blob/master/docs/authoring.md#hooks).

just to understand your flow, you use this template to bootstrap the initial service, and over time you want to regenerate only data models? I thought you need data models only

[2021-06-14 14:02] garethahealy commented on #139
I do only want the models. Typically, I'll bootstrap my project via mvn; in this case, it's an apache camel project. ideally, I'd like to hook up the `ag` command via mvn exec so the models are generated on every build.

Just to clarify the phases comment; the template includes files (i.e.: gradle) which I cant see how to stop being included via the hooks, because I don't see a way in the `before`

[2021-06-15 07:44] #137 closed

[2021-06-15 11:58] derberg commented on #139
did you try to check if you have access to `templateContentDir`, it should point to template and its `template` directory, and therefore you should be able to remove template files from there before generation process.

before using `templateContentDir` it would be good to first add it in the generator project as official `type` so it is tracked for backward compatibility.

this could even turn ou

[2021-06-17 11:18] #122 closed

[2021-06-30 11:05] tuxBurner commented on #139
Hi i done this in the following branch of my fork https://github.com/micromata/java-spring-template/tree/feature/only_generate_model

You only have to add -p onlyModel=true

This branch also includes the possibility to use the discrimnator wit the allOf Pattern.

I will open a PR soon but feel free to check it out

[2021-07-08 09:20] arabczuk-equinix opened #146 ""Error: Template parameter "server" has not been defined" while trying to generate Java Spring Boot"
I'm not able to use Java Spring Boot generator, it throws an error. I've tried using the example, I've downloaded the file, I've used my own asyncapi file that properly renders in playgraound, I've tried the same with docker command and it always throws the same error.

[code]
[code]
[code]

[2021-07-08 09:25] derberg commented on #146
Hey, the error happens as it is described, there is no such parameter supported for Java template. Have a look at all the parameters for this template: https://github.com/asyncapi/java-spring-template#supported-parameters.

Is the error confusing? would be great to get some suggestions here

[2021-07-22 10:56] mflorczak opened #150 "Recursive model"
#### Describe the bug
I want to create tree structure which each object has list of the same types.

#### How to Reproduce
This is my schemas components
![image](https://user-images.githubusercontent.com/36895020/126628591-8b13d61c-ce47-4be4-994e-7773f5637e8c.png)

It is recursive tree model
![image](https://user-images.githubusercontent.com/36895020/126628654-fd5fe6d6-43ed-4ec2-9e87-51d0136c8139.

[2021-07-22 13:16] magicmatatjahu commented on #150
Problem is in https://github.com/asyncapi/java-spring-template/blob/master/filters/all.js#L101 line:

![image](https://user-images.githubusercontent.com/20404945/126645087-cf0657e2-8693-46a4-8620-5c0f1882d723.png)

[2021-08-03 07:15] derberg commented on #133
Any contribution help would be highly appreciated here

[2021-08-13 10:45] rossdanderson commented on #146
I figured this out too, but it's an issue with the website documentation:
![image](https://user-images.githubusercontent.com/3797957/129345818-43afef85-2834-4ec6-9f80-c5069ae79047.png)

[2021-08-16 06:16] derberg commented on #146
yes, the issues for the website is already reported, looking for help there https://github.com/asyncapi/website/issues/312

[2021-08-16 06:16] #146 closed

[2021-08-19 15:24] arabczuk-equinix opened #156 "Java Spring Boot code generator fails on oneOf property"
#### Description
Java Spring Boot code generator fails if any `channel.{operation}.[publish/subscribe].message` contains `oneOf` property.
In the example below I've used the asyncapi file from the public samples: https://bit.ly/asyncapi and modified
[code]
to
[code]

#### Steps to Reproduce

Versions:
[code]

Command:
[code]

full AsyncAPI file:
[code]

#### Expected behavior
The code generation t

[2021-08-23 11:08] derberg commented on #156
The problem is that in template code `channel.publish().message().payload()` is called without checking [`hasMultipleMessages`](https://github.com/asyncapi/parser-js/blob/master/lib/models/operation.js#L15) as then it highly depends if you have to process just one message or an array of messages.

Would be great to get some contribution. I can help you out. We should start with looking at for exam

[2021-08-30 06:55] derberg commented on #139
@tuxBurner best would be to check your work on a PR. Feel free to open just a draft PR for review

[2021-09-21 11:21] manoswerts opened #159 "Referencing AsyncAPI specs to reuse messages and schemas generates Java classes with incorrect names"
#### Describe the bug
When generating Java code from an AsyncAPI spec which references another one for reuse, schemas from the referenced AsyncAPI spec are named `AnonymousSchema<#>.java` instead of using the schema name.

Java classes are generated correctly for schema's in the main AsyncAPI spec.

#### How to Reproduce
Ensure that you have 2 AsyncAPI specs of which one references the other to re

[2021-09-21 11:27] jonaslagoni commented on #159
In theory now that I think about it, it might actually be related to the parser more so, as this template just uses what is determined by the parser:
https://github.com/asyncapi/java-spring-template/blob/9fccfdee2bbc20f7452e5f2f5fabe1fa6e3a2e30/template/src/main/java/com/asyncapi/model/%24%24objectSchema%24%24.java#L17

[2021-10-27 10:54] iamVP7 opened #168 "Add supportedProtocols in package.json for java-spring"
#### Reason/Context
Please try answering few of those questions
- Why we need this improvement?.
To maintain consistency across generators.

- How will this change help?
We can know what are the protocols supported on one sight.

- What is the motivation?
Some of the generators got the key (supportedProtocols) but not here.

https://github.com/asyncapi/java-spring-template/blob/master/package.json

[2021-10-27 17:43] #168 closed, assigned to nobody

[2021-11-19 12:35] karsai1993 opened #175 "Maven plugin to have the Java files generated automatically during build"
Hi,
Is there a maven plugin for this project that we could use? It would be great if we could use this project in our maven based spring boot application and we would like to generate the classes during a maven build, not manually.

#### Reason/Context
Please try answering few of those questions
- Why we need this improvement? To generate java files automatically during build, not manually.
- How

[2021-11-19 13:29] karsai1993 opened #176 "NPM certificate chain issue"
Hi,

#### Describe the bug

I am trying to run the command to generate the files:
`ag src/main/resource/asyncapi.yml -o target/asyncapi @asyncapi/java-spring-template`

But I get this error:
[code]

I even tried to `npm config set strict-ssl false` before running the above command but I got the same results.

Do you have any suggestions?

Best regards,
Laszlo

#### Expected behavior
A clear and co

[2021-11-19 13:53] Tenischev commented on #175
HI,
I dunno about such plugins, the best what I could suggest you for now is to use npm plugin to run async-api generator.

[2021-11-25 08:53] derberg commented on #176
Hey, looks like it is related to your infrastructure, not this specific code generator. Have you tried https://stackoverflow.com/questions/34498736/npm-self-signed-cert-in-chain. Also, the alternative would be to use docker as described [here](https://github.com/asyncapi/generator#cli-usage-with-docker)

[2021-11-25 08:56] derberg commented on #175
@Tenischev oh man, you are back 😁

@karsai1993 as @Tenischev we always recommend use maven plugins for npm that allow you to run npm packages, so in theory, you could run generation this way in maven. I personally did not use it. @Pakisan did you have a chance to explore it, I think we talked some time ago about it, but I just don't remember, I'm getting old 😄

[2021-12-09 13:49] #133 closed

[2021-12-09 15:01] riccardoCorrias opened #183 "Command line example does not work with option -p"
#### Describe the bug
While using the Command Line example for the Template in order to generate Java code I've found a bug that does not let the generator create the required schemas described in the `.yml` file.

#### How to Reproduce
After Installing the required generator with the following command:
`npm install -g @asyncapi/generator`
I've tried using the following command as described in the

[2021-12-09 15:58] derberg commented on #183
@riccardoCorrias might be that docs are broken as when I see https://github.com/asyncapi/java-spring-template/blob/master/hooks/99_packageProcessor.js#L13 it actually expects parameter called `userJavaPackage` and not `javaPackage `. Can you please check?

[2021-12-09 17:47] riccardoCorrias commented on #183
Thanks for the suggestion, unfortunately using `userJavaPackage` instead of `javaPackage` the template output the following error:
`Something went wrong:
Error: This template doesn't have the following params: userJavaPackage.
Did you mean "javaPackage" instead of "userJavaPackage"?
    at isProvidedParameterSupported (/usr/local/lib/node_modules/@asyncapi/generator/lib/templateConfigValidator.js:

[2021-12-09 19:53] derberg commented on #183
ah yes, cause it is not only broken docs but also config,

please clone the repo (perform `npm install`) and change `javaPackage` to `userJavaPackage` in `package.json` or do reverse change in https://github.com/asyncapi/java-spring-template/blob/master/hooks/99_packageProcessor.js#L13 file (I think `javaPackage` is better name). Then test if this works, you need to run `ag` from inside cloned rep

[2021-12-15 10:45] derberg commented on #183
@riccardoCorrias all good, or still need help? would be great if you could open a PR with fix if it worked for you

[2021-12-15 10:45] derberg commented on #176
@karsai1993 hey, is this still a problem for you?

[2021-12-15 15:26] karsai1993 commented on #176
@derberg, well, we stopped checking this project. We need a maven plugin that does the generation for us.

[2021-12-15 16:01] derberg commented on #176
@karsai1993 this is fine. If you do not need the issue, just close it.

And regarding maven, you can also close another issue. FYI I can tell you that people just use `exec-maven-plugin` and call cli directly, like call npm withing maven, example -> https://gist.github.com/phillipgreenii/7c954e3c3911e5c32bd0#file-pom-xml

[2021-12-15 16:39] #176 closed

[2021-12-15 16:39] karsai1993 commented on #176
Thank you for the suggestion.

[2021-12-26 11:20] Tenischev commented on #183
Hi @riccardoCorrias
this is a bit strange, I tested `-p javaPackage=test.testing` with current version and it works fine.
Please try to add `--force-write` to the commend, maybe this helps, e.g.
`ag -p javaPackage=test.testing -o ${pwd}/out2 ${pwd}/java-spring-template/tests/kafka.yml @asyncapi/java-spring-template --force-write`
If it's not help, please provide your `asyncapi.yml` for deeper inve

[2021-12-27 09:10] derberg commented on #183
@Tenischev but the problem is that https://github.com/asyncapi/java-spring-template/blob/master/hooks/99_packageProcessor.js#L13 will always be undefined.

[2021-12-27 10:16] Tenischev commented on #183
no, `userJavaPackage` will be defined, otherwise path by 'com.asyncapi' will not be generated.
the code that you mentioned is `generate:after` which simply will relocate all generated classes to another folder if user set it.
definition of `userJavaPackage` happens in the `generate:before` that i mentioned above.

i assume that `--force-write` will help, because as i wrote `generate:after` simply

[2021-12-27 10:49] derberg commented on #183
OMG, I just noticed:
[code]

🤦🏼 sorry, should have read the code closely. You are doing some interesting magic there.

So yeah @riccardoCorrias I second what @Tenischev. The best would be really to see your AsyncAPI document so we can replicate the issue

[2022-01-03 14:17] derberg commented on #139
@tuxBurner @garethahealy any of you interested in opening a PR. Otherwise I will close as such stuff should be done with https://github.com/asyncapi/modelina imho

[2022-01-04 10:35] garethahealy commented on #139
@derberg ; I dont have the time currently to do a PR, so happy for it to be closed.

[2022-01-11 09:20] #139 closed

[2022-01-11 09:27] shpelda opened #187 "Generated tests fail with "No such image: quay.io/testcontainers/ryuk:0.2.3""
#### Describe the bug
Generated tests fail when executed.

#### How to Reproduce
Execute the generator with some asyncapi.yaml, and run gradlew build of generated service.

#### Expected behavior
It should not fail.
[TEST-com.asyncapi.TestcontainerKafkaTest.zip](https://github.com/asyncapi/java-spring-template/files/7845230/TEST-com.asyncapi.TestcontainerKafkaTest.zip)

### How to fix
Updated depe

[2022-01-16 10:17] Tenischev commented on #187
Hi @shpelda
I can update, but most probably this would not help to you, because `quay.io/testcontainers/ryuk:0.2.3` is exist - https://quay.io/repository/testcontainers/ryuk?tag=latest&tab=tags
Just for your info, this bug with `ryuk` image is appears time to time on testcontainers and seems there is no way for them to fix it 😄

[2022-01-17 08:54] #150 closed

[2022-01-17 09:06] shpelda commented on #187
This update reproducibly helped on my machine. I do not understand the internals enough to argue and i am not blocked by this in any way now. So its up to your decision.

[2022-01-20 18:23] derberg commented on #159
Oh, it actually is a parser bug:

take these files:
[code]
[code]

and you get this:
[code]

so of course `result.channel('mychannel').publish().message().payload().uid()` returns `<anonymous-schema-1>` instead of `testSchema`

btw I wish to one day do something like `result.getSchemaId(messageId)` or at least `result.getSchema(messageId).uid()` instead of `result.channel('mychannel').publish().me

[2022-02-06 14:13] Tenischev opened #198 "Add snapshot tests for generated files"
#### Reason/Context
The template has accumulated a sufficient number of functions that can be affected by further improvements and changes in it.
Integration tests that check the generated result allows to track changes in the generated files and functionality.

#### Description
Basic integration tests should cover generation of files (Config, MessageHandler, MessagePublisher, DTO) for existed tes

[2022-02-08 13:17] patrickuhlmann commented on #156
This seems to be a very basic and important issue that prevents the generator from being used by many people

[2022-02-08 13:47] Tenischev commented on #156
HI @patrickuhlmann I working on it, meanwhile if `oneOf`/`anyOf`/`allOf` are moved from `message` to 'schema' object they will work fine.
I understand that changing the API is not possible in most cases, so this bug will be fixed.

[2022-02-09 10:24] patrickuhlmann opened #203 "Don't generate AnonymousSchemaN classes for the payload"
#### Reason/Context

When the Payload is directly specified for a message (instead of a reference, see below), The generated code should not contain a class that is called AnonymousSchema1.

Either the properties could be added directly to the class (in this example Song) or the Payload class could be named SongPayload. Otherwise the code is much harder to use.

#### Description

I used the follow

[2022-02-09 10:34] patrickuhlmann commented on #156
@Tenischev thanks for the update and the workaround.

I also think it is more natural to define the oneOf like this:
[code]

It reads like "to this channel you can publish either the song or the deleteSong message."

Which defining the oneOf in the schema feels like in indirection. But this might just be a different taste.

In any case, here a small example:
[code]

[2022-02-09 11:49] Tenischev commented on #203
Yeah... Unfortunately template just work with data provided by parser
@jonaslagoni this bug with Anonymous objects again
 related with https://github.com/asyncapi/parser-api/issues/34

[2022-02-09 12:19] patrickuhlmann opened #204 "Support UUIDs"
#### Reason/Context

A string with format UUID is often used for ids. It would be very useful if it would map to the java type UUID.

Example:
[code]

#### Description

I prepared a small example.

kafka-example.yml:
[code]

I executed the generator like this:
[code]

The generated code contains the property id but as object instead of UUID.

[2022-02-09 12:26] patrickuhlmann opened #205 "Using Lombok instead of manually generated methods"
#### Reason/Context

I noticed that in the generated code you have a "manually" generated setters/getters, equals, hashCode and toString method.

Did you ever consider to use Lombok? With Lombok you only need to set the annotations @ToString, @EqualsAndHashCode, @Getter and @Setter to get the same functionality which might make the template much simpler.

Furthermore also the @Builder annotation c

[2022-02-09 12:27] jonaslagoni commented on #203
Yea, it is definitely something we will have to address with the new parser implementation.

Regardless of which implementation we end up with, I would highly recommend you explicitly set a unique identifier through either `$id` (not optimal) or `x-parser-schema-id` so the schema has a [unique identifier](https://github.com/asyncapi/parser-js/blob/fdee4882421a298ce298158e9ed65edb94a9acf6/lib/model

[2022-02-09 13:27] patrickuhlmann commented on #203
Thanks for the info ```x-parser-schema-id``` is a nice workaround.

[2022-02-09 13:30] patrickuhlmann commented on #204
I just saw that the uuid format is not part of the asynapi specification. However I think just as with openapi (where it is also not specified but used very often), it is still very useful to support it.

[2022-02-09 14:52] Tenischev commented on #205
Hi @patrickuhlmann
It could be a good choice for someone. I think it is possible to add code generation with Lombok annotations as a template option(parameter), but "manual" way definitely will stay.  I believe that the decision to use Project Lombok in a code must be done by project stakeholders

[2022-02-09 17:26] patrickuhlmann commented on #205
Hi @Tenischev
I agree. I was more thinking about simplification of the code generation. Maybe the template could render the Lombok annotations (as they are simple to use/automate) and then run delombok (https://projectlombok.org/features/delombok) to let lombok generate the code for all the setters/getters. That way the final code would not have any lombok traces left while there is a solid implem

[2022-02-19 18:04] Tenischev commented on #156
Status update here
Basic support of oneOf/anyOf/allOf is added in #179 . This is not ideal solution, since `Object` class is used instead of proper type definition.
Case when `oneOf` contains only one message will not work till fix the parser in https://github.com/asyncapi/parser-js/issues/475

[2022-03-27 03:39] aazammazaa opened #251 "oneOf is not working in message asyncAPI: 2.3.0"
oneOf is not working in message asyncAPI: 2.3.0
While generating spring boot template through npm getting this bellow error
[code]

using this yaml config
[code]

#### How to Reproduce
Using generator version
'/usr/lib
`-- @asyncapi/generator@1.9.0
  `-- @asyncapi/java-spring-template@0.25.1'

node version :  v16.14.2
npm version : 8.5.0

I created this on asyncapi studio and it is parsed in studi

[2022-05-04 12:28] KhudaDad414 opened #221 "Fix invalid links in Markdown files"
#### Reason/Context
We have recently started validating links in the markdown files across all of the repositories across the organization.
As I can see in the [latest check](https://github.com/asyncapi/java-spring-template/runs/6243265229?check_suite_focus=true) by the time of writing this issue, there are some invalid links in some markdown files that need fixing.

#### How to fix the links
* Ch

[2022-05-04 12:29] KhudaDad414 commented on #221
/gfi docs

[2022-05-09 12:04] derberg commented on #183
closing as no more details were provided

[2022-05-09 12:04] #183 closed

[2022-05-18 07:04] #187 closed

[2022-05-23 08:50] #156 closed

[2022-05-30 14:57] jsfix-updater opened #230 "Assisted upgrade of fs-extra available"
Version 10 of fs-extra is available.
  The JSFIX tool can help you through the update process (**Ensuring that all the necessary changes are made to your project in the process**).
  Use this [link](https://jsfix.live/jsfix/https%3A%2F%2Fgithub.com%2Fasyncapi%2Fjava-spring-template) to start the upgrade process (_It's completely free_).

  Leave a comment on this issue if you have any questions or

[2022-06-06 14:40] #204 closed

[2022-06-07 05:27] Samridhi-98 commented on #221
@KhudaDad414 I would like to work on it. 😊

[2022-06-07 09:32] derberg commented on #221
@Samridhi-98 go ahead

[2022-06-17 17:49] Samridhi-98 commented on #221
I think this issue has been already resolved because I checked all links are working 😅😅

[2022-06-22 12:38] derberg commented on #221
Yup, you are right https://github.com/asyncapi/java-spring-template/commit/2529d134009c82eb74c094ae8f595291ee4a180f

[2022-06-22 12:38] #221 closed

[2022-07-21 10:33] thiy opened #242 "Java Spring code generator is not generating the correct deseriallizers"
Hi

The Java Spring code generator is not generating the correct deseriallizers based on the given type.
it is always generating the IntegerDeserializer for key deseriallizer and JsonDeserializer for Value deseriallizer.

For example:

If I give the following
publishSomeThing
      message:
        bindings:
          kafka:
            key:
              type: string
              enum: [ 'myKey'